@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #222;
    --secondary-color: #F7B538;
    --gray-color: #d3d3d3;
    --white-color: #ffffff;
    --secondary-color-opacity: rgba(247, 181, 56, 0.9);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: var(--white-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Navbar Top */
.navbar-top {
    height: 40px;
    background-color: var(--primary-color);
    padding: 0 3rem;
}

.navbar-top nav {
    height: 100%;
}

.navbar-top nav ul {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.navbar-top nav ul li {
    padding: 0 0.8rem;
}

.navbar-top nav ul li:nth-child(3) {
    padding-right: 0;
}

.navbar-top nav ul li:first-child {
    padding-left: 0;
}

.navbar-top nav ul li a {
    color: var(--white-color);
    font-size: 0.75rem;
}

.navbar-top ul li a:hover {
    color: var(--secondary-color);
}

.navbar-top ul li a i {
    padding-right: 0.5rem;
}


/* Navbar */
.navbar {
    background-color: var(--white-color);
    height: 88px;
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.logo span {
    font-weight: 700;
    color: var(--secondary-color);
}

.navbar-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container nav {
    height: 100%;
}

.navbar-container nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-container nav ul li {
    padding: 0 2rem;
    height: 100%;
    text-align: center;
}

.navbar-container nav ul li:first-child {
    padding-left: 0;
}

.navbar-container nav ul li:nth-child(6) {
    padding-right: 0;
}

.navbar-container a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-container a:hover {
    color: var(--secondary-color);
}

.burger {
    display: none;
    height: 100%;
}

.burger a {
    height: 100%;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 0;
}

.burger a:hover {
    color: var(--secondary-color);
    border: none;
    background: none;
    box-shadow: none;
}

/* Hero */
.hero {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-img {
    width: 100%;
    height: 100%;
    background: url("../images/office.jpg");
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */

}

.hero-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}

.hero-container h1 {
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.hero-container h2 {
    text-align: center;
    margin: 0;
}

.hero-container h3 {
    text-align: center;
    font-weight: 700;
}

.hero-container p {
    width: 60%;
    text-align: center;
    font-size: 1.1rem;
    margin: 20px 0;
}

.hero-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.hero-container ul li {
    padding: 0.75rem 0.5rem;
}

.hero-container a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    border-bottom: 0 solid;
    transition: all 0.1s ease;
}

.hero-container a:hover {
    border-bottom: var(--secondary-color) 0.43rem solid;
    background-color: var(--white-color);
    transition: all 0.1s ease;
}

.hero-line {
    margin: 10px 0;
    height: 0.2rem;
    width: 192px;
    background-color: var(--secondary-color);
}

.hero-line-bottom {
    margin: 1px 0;
    height: 0.2rem;
    width: 96px;
    background-color: var(--secondary-color);
}


/* Portfolio */
.portfolio {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.why-image {
    background-image: url(../images/whykaminsky.png);
    width: 150px;
    height: 150px;
    margin-top: -85px;
    margin-bottom: 20px;
    border-radius: 75px;
    filter: grayscale(0%);
    transition: all 0.2s ease-in-out;
}

.why-image:hover {
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
}

.portfolio h1 {
    margin: 0;
    font-weight: 700;
}

.portfolio-line {
    margin: 20px 0;
    height: 0.2rem;
    width: 192px;
    background-color: var(--secondary-color);
}

.portfolio-line-bottom {
    margin: 5px 0;
    height: 0.1rem;
    width: 70px;
    background-color: var(--gray-color);
}

.portfolio-grid {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-cell {
    width: 100%;
    height: 200px;
}

.portfolio-cell:first-child {
    background-image: url(../images/portfolio/portfolio1.jpg);
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.portfolio-cell:nth-child(2) {
    background-image: url(../images/portfolio/portfolio2.jpg);
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.portfolio-cell:nth-child(3) {
    background-image: url(../images/portfolio/portfolio3.jpg);
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.portfolio-cell:nth-child(4) {
    background-image: url(../images/portfolio/portfolio4.jpg);
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.portfolio-cell:nth-child(5) {
    background-image: url(../images/portfolio/portfolio5.jpg);
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.portfolio-cell:nth-child(6) {
    background-image: url(../images/portfolio/portfolio6.jpg);
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.cell-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color-opacity);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    font-size: 1.5rem;
    text-align: center;
}
    
.cell-container:hover {
    opacity: 100;
    transition: opacity 0.1s ease-in-out;
}

.cell-container p {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    margin-top: 5px;
}

.cell-icon {
    margin-top: 10px;
    margin-bottom: 0;
}

.cell-line-bottom {
    margin: 5px 0;
    height: 0.1rem;
    width: 70px;
    background-color: var(--primary-color);
}


/* Services */
.services {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
}

.services h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.services-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1rem;
}

.services-item {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5rem;
    text-align: center;
    transition: all 0.1s ease;
}

.services-item i {
    font-size: 4rem;
    padding: 2rem 0;
}

.services-item h3 {
    font-weight: 700;
}

.services-item:hover {
    color: var(--white-color);
    transition: all 0.1s ease;
}


/* Family */
.family {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 45% 55%;
}

.family-image {
    background-image: url(../images/team.jpg);
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.family-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}

.family-container p {
    width: 80%;
    text-align: center;
}

.family-container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
}

.family-container h2 {
    text-align: center;
    font-weight: 700;
}

.family-container h3 {
    margin: 0;
    text-align: center;
}

.family-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.family-container ul li {
    padding: 0.75rem 0.5rem;
}

.family-container a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    border-bottom: 0 solid;
    transition: all 0.1s ease;
}

.family-container a:hover {
    background-color: var(--white-color);
    border-bottom: var(--secondary-color) 0.43rem solid;
    transition: all 0.1s ease;
}

.family-line {
    margin: 10px 0;
    height: 0.2rem;
    width: 132px;
    background-color: var(--secondary-color);
}


/* Tech Stack & Team Wrapper */
.tech-team-wrapper {
    width: 100%;
    background-image: url(../images/tech-team-bg.svg);
    background-size: cover;
    background-position: center;
    padding-bottom: 13rem;
}


/* Tech Stack */
.tech-stack {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
}

.tech-stack h1 {
    font-weight: 700;
}

.tech-stack h3 {
    font-weight: 700;
}

.tech-stack-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.tech-stack-cell {
    height: 140px;
    width: 140px;
    margin: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tech-stack-cell img {
    height: 100px;
    width: 100px;
}

.tech-line {
    margin: 10px 0;
    height: 0.2rem;
    width: 112px;
    background-color: var(--secondary-color);
}

.tech-cell-text {
    width: 100%;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    z-index: 99;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    transition-delay: 0.1s;
    transform-origin: 100% 0%;
}

.tech-cell-name {
    opacity: 0;
    user-select: none;
    transition: opacity 0.1s ease-in-out;
}

.tech-stack-cell:hover > .tech-cell-text {
    transform: scaleX(100%);
    transition: transform 0.2s ease-in-out;
    transform-origin: 0% 100%;
}

.tech-stack-cell:hover > .tech-cell-text > .tech-cell-name {
    opacity: 100;
    transition: opacity 0.1s ease-in-out;
    transition-delay: 0.1s;
}


/* Team */
.team {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team h1 {
    font-weight: 700;
}

.team-line {
    width: 132px;
    height: 0.2rem;
    background-color: var(--secondary-color);
}

.team-grid {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0;
    gap: 3rem 3rem;
}

.team-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 257px;
}

.team-img {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    border-bottom: var(--secondary-color) 0rem solid;
    transition: all 0.1s ease;
    overflow: hidden;
}

.team-img img {
    object-fit: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
}

.team-img img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transition: all 0.2s ease-in-out;
}

.team-info {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 2px;
    margin-top: -4.7rem;
    z-index: 2;
    box-sizing: border-box;
}

.team-info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem;
    text-align: center;
}

.team-info-content h2 {
    font-weight: 700;
    margin-bottom: 0;
}

.team-info-content h3 {
    font-size: 1.2rem;
}

.team-info-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-info-content li {
    padding: 0 0.3rem;
}

.team-info-content a {
    font-size: 1rem;
}

.team-info-content a:hover {
    color: var(--secondary-color);
}


/* Contact */
.contact-wrapper {
    width: 100%;
    height: 500px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.contact {
    width: 700px;
    height: 650px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-top: -15rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 48px 0;
}

.contact h1 {
    font-weight: 700;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
}

.contact input {
    height: 2rem;
    width: 75%;
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0 0.1rem;
    background: none;
    border: none;
    border-bottom: var(--primary-color) 0.1rem solid;
    border-radius: 0px;
}

.contact input::placeholder {
    color: var(--primary-color);
    opacity: 1;
}

.contact input:focus {
    border: none;
    border-bottom: var(--primary-color) 0.15rem solid;
    border-radius: 0px;
    outline: none;
}

.contact textarea {
    border: none;
    border-bottom: var(--primary-color) 0.1rem solid;
    border-radius: 0px;
    background: none;
    margin: 1rem 0;
    width: 75%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    resize: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.contact textarea::placeholder {
    color: var(--primary-color);
    opacity: 1;
}

.contact textarea:focus {
    border: none;
    outline: none;
    border-bottom: var(--primary-color) 0.15rem solid;
    border-radius: 0px;
}

.contact ul {
    margin: 1rem 0;
}

.contact a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.contact a:hover {
    color: var(--white-color);
}

.contact-line {
    margin: 10px 0;
    height: 0.2rem;
    width: 132px;
    background-color: var(--primary-color);
}


/* Footer */
footer {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    flex-wrap: wrap;
    width: 80%;
    border-top: var(--gray-color) 0.1rem solid;
}

.footer-items h3 {
    font-weight: 700;
}

.footer-items ul {
    padding: 2rem 0;
}

.footer-items a {
    color: var(--gray-color);
    font-size: 0.9rem;
}

.footer-items a:hover {
    color: var(--secondary-color);
}

.footer-copyright {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
}

.footer-copyright p {
    font-size: 0.9rem;
}

.footer-copyright i {
    color: var(--secondary-color);
}

.footer-copyright a {
    color: var(--gray-color);
}

.footer-copyright a:hover {
    color: var(--secondary-color);
}


/* Mobile Menu */
.mobile-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    background-color: var(--primary-color);
    transform: scaleX(0%);
    transform-origin: 0% 0%;
    transition: all 0.2s ease;
}

.mobile-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-menu ul li a {
    color: var(--white-color);
    font-size: 2rem;
}

.mobile-menu ul li a:hover {
    color: var(--secondary-color);
}

.display-mobile-menu {
    display: block;
}

.mobile-menu-transition {
    transform: scaleX(100%);
    transform-origin: 0% 0%;
    transition: all 0.2s ease;   
}

.exit-button {
    position: absolute;
    right: 5%;
    top: 2rem;
}

.exit-button a {
    font-size: 2rem;
    color: var(--white-color);
}

.exit-button a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.mobile-footer {
    position: fixed;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}

.mobile-footer span {
    color: var(--secondary-color);
}

.mobile-footer i {
    padding: 0 0.5rem;
    color: var(--secondary-color);
}

.no-scroll {
    overflow: hidden;
}


/* Media Queries */
@media(max-width: 1500px) {
    .team-grid {
        width: 90%;
    }

    .hero {
        height: 600px;
        grid-template-columns: 1fr
    }

    .hero-container {
        background-image: url(../images/office-dark.jpg);
    }

    .hero-img {
        display: none;
    }

    .services-item {
        width: 250px;
    }

    .portfolio-grid {
        width: 70%;
    }

    .family {
        grid-template-columns: 1fr;
    }

    .family-container {
        background-image: url(../images/team-dark.jpg);
        background-position: center;
    }

    .family-image {
        display: none;
    }

}

@media(max-width: 1200px) {
    * {
        scroll-behavior: auto;
    }

    .navbar-top {
        padding: 0 3rem;
    }

    .logo {
        padding: 0;
    }

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        height: 64px;
        z-index: 100;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .navbar-container nav ul {
        display: none;
    }
}

@media(max-width: 768px) {
    .navbar-top nav ul{
        justify-content: center;
        align-items: center;
    }

    .portfolio-grid {
        width: 95%;
    }

    .services-item {
        width: 270px;
        padding: 0 1rem;
    }

    .team-grid {
        width: 90%;
    }

    .team-img {
        height: 350px;
    }

    .contact {
        width: 80%;
    }

    .footer-items {
        justify-content: center;
        text-align: center;
    }

    .footer-items ul {
        padding: 2rem 1rem;
    }
    
}

@media(max-width: 660px) {
    .team-grid {
        width: 95%;
    }
}

@media(max-width: 540px) {
    .hero {
        height: 500px;
    }

    .hero-container {
        background-image: none;
    }

    .hero-container h3 {
        display: none;
    }

    .hero-line-bottom {
        display: none;
    }

    .hero-container p {
        margin: 10px 0;
    }

    .portfolio-grid {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }

    .services-item {
        width: 240px;
    }

    .family-container {
        background-image: none;
    }

    .team-img {
        height: 350px;
    }

    .contact {
        width: 90%;
    }
}

@media(max-width: 450px) {
    .navbar-top {
        display: none;
    }

    .navbar {
        padding: 0 1rem;
    }

    .why-image {
        width: 120px;
        height: 120px;
        border-radius: 0px;
        background-position: center;
        background-size: cover;
        margin-top: -70px;
    }

    .services-container {
        width: 100%;
    }

    .services-item {
        width: 150px;
    }

    .team-img {
        height: 350px;
    }

    .contact {
        width: 100%;
        border-radius: 0;
    }

    .footer-items {
        width: 90%;
    }

    .footer-items ul {
        width: 170px;
        padding: 1rem 0;
    }
}

@media(max-width: 400px) {
    .hero-container ul {
        display: none;
    }

    .footer-items {
        margin: 1rem 0;
    }
}

@media(max-width: 360px) {
    .hero-container h1{
        width: 80%;
    }

    .portfolio h1 {
        font-size: 1.5rem;
    }

    .portfolio h2 {
        font-size: 1.3rem;
    }

    .family h2 {
        display: none;
    }

    .tech-stack {
        padding: 3rem 0;
    }

    .contact h1 {
        text-align: center;
        width: 80%;
    }
}

@media(max-width: 300px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .team-grid {
        width: 90%;
    }

    .team-img {
        height: 350px;
    }
}